# user_based协同过滤算法简单实现

## 1. userId, movieId矩阵
## 2. 用户用户相关性矩阵(pearson)
## 3. pearson作为权重*rating得到推荐score
## 4. 展示top-5的movieId

In [1]:
import sys,os
import numpy as np
import pandas as pd
import math

In [8]:
# df = pd.read_csv('/Users/yihaoli/Desktop/dataset/movielens-20m-dataset/rating.csv')
# df = df[list(df.columns)[:-1]]
# # 数据量太大, 先拿10000条做测试
# df = df.head(10000)
df = pd.read_table('/Users/yihaoli/Desktop/dataset/movielens-1m-dataset/ratings.dat',header=None,sep='::')
df = df[list(df.columns)[:-1]]
df = df.rename(columns = {0:'userId',1:'movieId',2:'rating'})

/Users/yihaoli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 3 columns):
userId     1000209 non-null int64
movieId    1000209 non-null int64
rating     1000209 non-null int64
dtypes: int64(3)
memory usage: 22.9 MB

In [10]:
# 查看是否存在重复评价的情况
# 不存在
df.groupby(['userId','movieId']).count().sort_values('rating',ascending = False)

                rating
userId movieId
1      1             1
4013   3578          1
       3698          1
       3699          1
       3705          1
...                ...
1968   1641          1
       1644          1
       1645          1
       1660          1
6040   3819          1

[1000209 rows x 1 columns]

In [11]:
index = list(df.groupby('userId').count().reset_index().sort_values('userId')['userId'])

In [12]:
column = list(df.groupby('movieId').count().reset_index().sort_values('movieId')['movieId'])

In [13]:
len(index)

6040

In [14]:
len(column)

3706

In [15]:
user_item = pd.DataFrame(index = index, columns = column)

In [ ]:
for line in df.itertuples():
    user_item.loc[line[1],line[2]] = line[3]

In [ ]:
user_item.loc[3,1] is not np.nan

In [ ]:
user_user = pd.DataFrame(index = index, columns = index)

In [ ]:
def get_pearson(column,user1,user2):
    sum_xy = 0  
    sum_x = 0  
    sum_y = 0  
    sum_x2 = 0  
    sum_y2 = 0  
    n = 0  
    for c in column:
        if user_item.loc[user1,c] is not np.nan and user_item.loc[user2,c] is not np.nan:
            n += 1
            x = user_item.loc[user1,c]
            y = user_item.loc[user2,c]  
            sum_xy += x * y  
            sum_x += x  
            sum_y += y  
            sum_x2 += pow(x, 2)  
            sum_y2 += pow(y, 2)  
    if n == 0:  
        return 0  
    #皮尔逊相关系数计算公式 
    denominator = math.sqrt(sum_x2 - pow(sum_x, 2) / n) * math.sqrt(sum_y2 - pow(sum_y, 2) / n)  
    if denominator == 0:  
        return 0  
    else:  
        return (sum_xy - (sum_x * sum_y) / n) / denominator

In [ ]:
for user1 in index:
    for user2 in index:
        user_user.loc[user1,user2] = user_user.loc[user2,user1] = get_pearson(column,user1,user2)

In [ ]:
user_user

In [ ]:
user_item_recom = pd.DataFrame(index = index, columns=column)

In [ ]:
def get_score(user_item,user_user,user,item,index):
    score = 0
    total_weight = 0
    if user_item.loc[user,item] is not np.nan:
        return 0
    for i in index:
        if user_item.loc[i,item] is not np.nan and user_user.loc[i,user] > 0:
            score = score + user_item.loc[i,item]*user_user.loc[i,user]
            total_weight+=user_user.loc[i,user]
    return score/total_weight

In [ ]:
for user in index:
    print('user: %d'%user)
    for item in column:
        user_item_recom.loc[user,item] = get_score(user_item,user_user,user,item,index)

In [ ]:
user_item_recom = user_item_recom.astype(float)

In [ ]:
user_item_recom

In [68]:
user_item_recom = user_item_recom.T

In [77]:
# The top-5 recom movieId for userId 1
list(user_item_recom.sort_values(1,ascending = False)[1].head(5).index)

[480, 110, 356, 588, 527]

In [78]:
def get_top5(user,user_item_recom):
    return list(user_item_recom.sort_values(user,ascending = False)[user].head(5).index)

In [79]:
top5_recom = pd.DataFrame(index = index, columns = [1,2,3,4,5])

In [81]:
for user in index:
    five_top = get_top5(user,user_item_recom)
    for i in range(len(five_top)):
        top5_recom.loc[user,i+1] = five_top[i]

In [82]:
top5_recom

       1     2     3     4     5
1    480   110   356   588   527
2    356   780   593   318   457
3    356   296   110   608    47
4    296   590   110   593   260
5    356  2571  2028  1197   296
..   ...   ...   ...   ...   ...
87   480   356   589   110  2571
88   356   318   296   593   480
89   296  1197   593   608   356
90  1198  1136  1197   858    50
91   588   595  4993  5952  2959

[91 rows x 5 columns]